.animate {
    transition: transform 2000ms cubic-bezier(.19,1,.22,1);
    transform-origin: left;
}

@keyframes rotateAnimation { 
    from { transform: rotateZ(0deg) ; } 
    to { transform: rotateZ(360deg) ; } 
}
@keyframes translateGotBoredTop { 
    from { transform: translate3d(-25px, -25px, 1px); } 
    to { transform: translate3d(-50px, -50px, 1px) ; } 
}
@keyframes translateGotBoredMiddle { 
    from { transform: translate3d(0,0,1px) ; } 
    to { transform: translate3d(-25px, -25px, 1px) ; } 
}

@keyframes opacity{ 
    0% { opacity: 0 ; } 
    100% { opacity: 1 ; } 
}
@keyframes opacityFirstItemAnimation { 
    0% { opacity: 1 ; } 
    75% { opacity: 1 ; } 
    76% { opacity: 0 ; } 
    100% { opacity: 0 ; } 
}
@keyframes opacitySecondItemAnimation { 
    0% { opacity: 1 ; } 
    50% { opacity: 1 ; } 
    51% { opacity: 0 ; } 
    75% { opacity: 0 ; } 
    76% { opacity: 0 ; } 
    100% { opacity: 0 ; }  
}

@keyframes opacityThirdItemAnimation { 
    0% { opacity: 1 ; } 
    25% { opacity: 1 ; } 
    26% { opacity: 0 ; }
    100% { opacity: 0 ; } 
}

@keyframes translateAnimation { 
    from { transform: translateX(100%) ; } 
    to { transform: translateX(-100%) ; } 
}