.about {
    background-color: $lightYellow;
    width: 100vw;
    overflow-x: hidden;
}

.about__explanation {
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -55%, 0);
    font-size: 1.5rem;
    width: 60%;
    text-transform: unset;
    text-align: center;
    @include tablet {
        width: 80%;
        font-size: 1.2rem;
    }
}
.about__container {
    cursor: none;
    position: relative;
    width: 100vw;
    box-sizing: border-box;
    padding: 45vh 15vw 0 10vw;
    display: flex;
    flex-direction: column;
    &:nth-child(even){
        align-self: flex-end;
    }
    img {
        z-index: 500;
        width: 350px;
        height: 440px;
        &:nth-child(odd){
            align-self: flex-end;
        }

        @include tablet {
            margin-top: 70px;
            width: 150px;
            height: auto;
        }
    }
}
.about__fullLine {
    width: 100%;
    text-align: center;
}
.about__name {
    color: white;
    display: inline-block;
}
.about__line {
    font-weight: normal;
    position: fixed;
    left: -1vw;
    top: 10px;
    font-size: 16px;
    color: white;
    width: 105vw;
    overflow: hidden;
    height: 20px;
    span {
        margin-right: 20px;
    }
}
.about__credit {
    text-transform: initial;
    font-weight: normal;
    position: fixed;
    left: 60px;
    bottom: 70px;
    font-size: 14px;
    color: white;
    @include tablet {
        left: 20px;
    }
}

.about__upon {
    z-index: 600;
    color: transparent;
    a {
        color: white;
    }

}
.about__name {
    color: white;
    display: inline-block;
    overflow: hidden;
    position: relative;

    span  {
        display: inline-block;
        position: static;
    }
    &:hover {
        > span {
            animation: translateIt 0.2s linear 1; 
        }
    }
}
.notVisible {
    span {
        color: transparent;
        border-bottom: 1px solid white;
    }
}
.menu__cursor--about {
    z-index: 550;
}