.random__container {
    height: 100vh;
    width: 100vw;
    background-color: blue;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .random__title {
        background-color: white;
        font-size: 26px;
        font-weight: 1000;
        z-index: 1000;
        padding: 10px;
    }
    &:after {
        display: none;
        content: 
            url(static/images/random/random_page/R_01-min.jpg) 
            url(static/images/random/random_page/R_02-min.jpg) 
            url(static/images/random/random_page/R_03-min.jpg) 
            url(static/images/random/random_page/R_04-min.jpg) 
            url(static/images/random/random_page/R_05-min.jpg) 
            url(static/images/random/random_page/R_06-min.jpg) 
            url(static/images/random/random_page/R_07-min.jpg) 
            url(static/images/random/random_page/R_08-min.jpg) 
            url(static/images/random/random_page/R_09-min.jpg) 
            url(static/images/random/random_page/R_10-min.jpg) 
            url(static/images/random/random_page/R_11-min.jpg) 
            url(static/images/random/random_page/R_12-min.jpg) 
            url(static/images/random/random_page/R_13-min.jpg) 
            url(static/images/random/random_page/R_14-min.jpg)
            url(static/images/random/random_page/R_15-min.jpg) 
            url(static/images/random/random_page/R_16-min.jpg) 
            url(static/images/random/random_page/R_17-min.jpg) 
            url(static/images/random/random_page/R_01-minmobile.jpg) 
            url(static/images/random/random_page/R_02-minmobile.jpg) 
            url(static/images/random/random_page/R_03-minmobile.jpg) 
            url(static/images/random/random_page/R_04-minmobile.jpg) 
            url(static/images/random/random_page/R_05-minmobile.jpg) 
            url(static/images/random/random_page/R_06-minmobile.jpg) 
            url(static/images/random/random_page/R_07-minmobile.jpg) 
            url(static/images/random/random_page/R_08-minmobile.jpg) 
            url(static/images/random/random_page/R_09-minmobile.jpg) 
            url(static/images/random/random_page/R_10-minmobile.jpg) 
            url(static/images/random/random_page/R_11-minmobile.jpg) 
            url(static/images/random/random_page/R_12-minmobile.jpg) 
            url(static/images/random/random_page/R_13-minmobile.jpg) 
            url(static/images/random/random_page/R_14-minmobile.jpg) 
            url(static/images/random/random_page/R_15-minmobile.jpg) 
            url(static/images/random/random_page/R_16-minmobile.jpg) 
            url(static/images/random/random_page/R_17-minmobile.jpg) 
            ;
    }
}
.random_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
    transform-origin: center;
}