.container--3 {
    position: relative;
    min-height: 100vh;
    z-index: 1000;
    .finderImg__container {
        position: absolute;
        // z-index: 108;
        width: 865px;
        height: 500px;
        @include tablet {
            right: unset;
            left: 50%;
            transform: translateX(-50%);
            margin: 0 auto;
            width: 349px;
            height: 241px;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
}

.vietnam__item--31 {
    right: 5%;
    bottom: 5%;
    @include tablet {
        top: 20%;
    }
}

.vietnam__item--32 {
    right: 10%;
    bottom: 10%;
    @include tablet {
        top: 31%;
    }
}
.vietnam__item--33 {
    right: 15%;
    bottom: 15%;
    @include tablet {
        top: 42%;
    }
}
.vietnam__item--34 {
    right: 20%;
    bottom: 20%;
    @include tablet {
        top: 53%;
    }
}

.vietnam__item--image31 {
    width: 840px;
    height: auto;
    z-index: 110;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include tablet {
        width: 90%;
    }
}

.vietnam__containerSunshine {
    position: relative;
    z-index: 109;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.sunshines--bottom {
    transform: translate3d(0, 100%, 1px);
}
.sunshines--top {
    transform: translate3d(0, -100%, 1px);
}