.bigSize {
    height: 20000px;
    &:after {
        display: none;
        content: 
            url(static/images/vietnam/vietnam01.png) 
            url(static/images/vietnam/vietnam02.png) 
            url(static/images/vietnam/vietnam04.png) 
            url(static/images/vietnam/vietnam05.png) 
            url(static/images/vietnam/vietnam06.png) 
            url(static/images/vietnam/vietnam08.png) 
            url(static/images/vietnam/vietnam09.png) 
            url(static/images/vietnam/vietnam23.png) 
            url(static/images/vietnam/vietnam10.png) 
            url(static/images/vietnam/vietnam13.png) 
            url(static/images/vietnam/vietnam14.png) 
            url(static/images/vietnam/vietnam15.png) 
            url(static/images/vietnam/vietnam16.png) 
            url(static/images/vietnam/vietnam17.png) 
            url(static/images/vietnam/vietnam18.png) 
            url(static/images/vietnam/vietnam19.png) 
            url(static/images/vietnam/vietnam20.png) 
            url(static/images/vietnam/vietnam21.png) 
            url(static/images/vietnam/vietnam22.png) 
            url(static/images/vietnam/vietnam24.png) 
            url(static/images/vietnam/vietnam25.png) 
            url(static/images/vietnam/vietnam26.png) 
            url(static/images/vietnam/vietnam27.png) 
            url(static/images/vietnam/vietnam28.png) 
            url(static/images/vietnam/vietnam29.png) ;
        @include tablet {
            content:  
                url(static/images/vietnam/04_mobile-min.png) 
                url(static/images/vietnam/05_mobile-min.png) 
                url(static/images/vietnam/06_mobile-min.png) 
                url(static/images/vietnam/08_mobile-min.png) 
                url(static/images/vietnam/23_mobile-min.png) 
                url(static/images/vietnam/13_mobile-min.png) 
                url(static/images/vietnam/14_mobile-min.png) 
                url(static/images/vietnam/16_mobile-min.png) 
                url(static/images/vietnam/18_mobile-min.png) 
                url(static/images/vietnam/19_mobile-min.png) 
                url(static/images/vietnam/22_mobile-min.png) 
                url(static/images/vietnam/24_mobile-min.png) 
                url(static/images/vietnam/27_mobile-min.png) 
                url(static/images/vietnam/28_mobile-min.png) 
                url(static/images/vietnam/29_mobile-min.png) ;
        }
    }
}
.bigSize--notloaded {
    height: 100vh;
}
.container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: $red;

}

.vietnam__item--1.finderImg__container {
    position: absolute;
    right: 10%;
    top: 15%;
    width: 500px;
    height: 330px;
    @include tablet {
        width: 280px;
        height: 198px;
        right: 5%;
    }
    img {
        width: 100%;
    }
}
.vietnam__item--2.finderImg__container {
    position: absolute;
    right: 25%;
    top: 8%;
    width: 500px;
    height: 330px;
    @include tablet {
        width: 280px;
        height: 198px;
        right: unset;
        left: 5%;
        top: 25%;
    }
    img {
        width: 100%;
    }
}

.vietnam__item--3.finderImg__container {
    position: absolute;
    right: 17%;
    top: 25%;
    height: 34%;
    width: 500px;
    height: 330px;
    @include tablet {
        width: 280px;
        height: 198px;
        right: 5%;
        top: 35%;
    }
    img {
        width: 100%;
    }
}

.vietnam__item--4 {
    position: absolute;
    left: 10%;
    top: 13%;
    height: auto;
    width: 500px;
    z-index: 110;
    @include tablet {
        width: 80%;
        top: 45%;
    }
}

.vietnam__container--bigTitle {
    position: absolute;
    width: 100%;
    top: 0;
}