.bigSize {
    height: 10000px;
}
.bigSize--notloaded {
    height: 100vh;
}
.container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: $red;

}

.vietnam__item--1.finderImg__container {
    position: absolute;
    right: 10%;
    top: 15%;
    width: 500px;
    height: 330px;
    @include tablet {
        width: 280px;
        height: 198px;
        right: 5%;
    }
    img {
        width: 100%;
    }
}
.vietnam__item--2.finderImg__container {
    position: absolute;
    right: 25%;
    top: 8%;
    width: 500px;
    height: 330px;
    @include tablet {
        width: 280px;
        height: 198px;
        right: unset;
        left: 5%;
        top: 25%;
    }
    img {
        width: 100%;
    }
}

.vietnam__item--3.finderImg__container {
    position: absolute;
    right: 17%;
    top: 25%;
    height: 34%;
    width: 500px;
    height: 330px;
    @include tablet {
        width: 280px;
        height: 198px;
        right: 5%;
        top: 35%;
    }
    img {
        width: 100%;
    }
}

.vietnam__item--4 {
    position: absolute;
    left: 10%;
    top: 13%;
    height: auto;
    width: 500px;
    z-index: 110;
    @include tablet {
        width: 80%;
        top: 45%;
    }
}

.vietnam__container--bigTitle {
    position: absolute;
    width: 100%;
    top: 0;
}