.bigSize {
    height: 10000px;
}
.container {
    position: fixed;
    height: 1000px;
    width: 100vw;
    background-color: $red;
}

.vietnam__item--1.finderImg__container {
    position: absolute;
    right: 10%;
    top: 15%;
    width: 500px;
    height: 330px;
    img {
        width: 100%;
    }
}
.vietnam__item--2.finderImg__container {
    position: absolute;
    right: 25%;
    top: 8%;
    width: 500px;
    height: 330px;
    img {
        width: 100%;
    }
}

.vietnam__item--3.finderImg__container {
    position: absolute;
    right: 17%;
    top: 25%;
    height: 34%;
    width: 500px;
    height: 330px;
    img {
        width: 100%;
    }
}

.vietnam__item--4 {
    position: absolute;
    left: 10%;
    top: 13%;
    height: auto;
    width: 500px;
    z-index: 110;
}

.vietnam__container--bigTitle {
    position: absolute;
    width: 100%;
    top: 0;
}