.container--3 {
    position: relative;
    min-height: 100vh;
    z-index: 1000;
    .finderImg__container {
        position: absolute;
        // z-index: 108;
        width: 500px;
        height: 330px;
        img {
            width: 100%;
            height: auto;
        }
    }
}

.vietnam__item--31 {
    right: 15%;
    bottom: 10%;
}

.vietnam__item--32 {
    right: 22%;
    bottom: 17%;
}
.vietnam__item--33 {
    right: 29%;
    bottom: 24%;
}
.vietnam__item--34 {
    right: 36%;
    bottom: 31%;
}

.vietnam__item--image31 {
    width: 500px;
    height: auto;
    z-index: 110;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vietnam__containerSunshine {
    position: relative;
    z-index: 109;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.sunshines--bottom {
    transform: translate3d(0, 100%, 1px);
}
.sunshines--top {
    transform: translate3d(0, -100%, 1px);
}