.backButton__container {
    position: fixed;
    left: 60px;
    top: 40px;
    width: 81px;
    height: 81px;
    z-index: 1000;
    animation: rotateAnimation 3s infinite linear;
    transform-origin: center;
    &:hover {
        animation: rotateAnimation 0.5s infinite linear ;
    }
    .backButton__svg--black g {
        fill: rgb(0,0,0);
    }
}
