.backButton__container {
    position: fixed;
    left: 60px;
    top: 40px;
    width: 81px;
    height: 81px;
    z-index: 1000;
    animation: rotateAnimation 3s infinite linear;
    transform-origin: center;
}
