.bigTitle {
    margin: 0 auto;
    font-size: 12.5vw;
    line-height: 25vh;
    font-weight: 900;
    text-align: center;
    @include tablet {
        font-size: 24vw;
        word-break: break-word;
        line-height: 1;
    }
}

.bigTitle--yellow {
    color: $yellow;
    position: absolute;
    z-index: 10;
    @include tablet {
        font-size: 24vw;
        word-break: break-word;
        line-height: 1;
    }
}

.bigTitle.vietnam__item--2 {
    top: 0;
}

.bigTitle.vietnam__item--13 {
    top: 0%;
    transform: translateY(100%);
}

.bigTitle.vietnam__item--14 {
    top: 0%;
    transform: translateY(200%);
}

.bigTitle.vietnam__item--15 {
    top: 0;
    transform: translateY(300%);

}