.filterImg__container {
    position: relative;
    width: 500px;
    z-index: 100;

    img {
        width: 100%;
        height: auto;
    }
    .filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $red;
        mix-blend-mode: darken;
        opacity: 0;
    }
    &.isFilter {
        .filter {
            
            opacity: 1;
        }
    }
}