.finderImg__container {
    position: relative;
    width: 30vw;
    height: 20vw;
    overflow: hidden;
    border-radius: 5px;
    z-index: 100;
    transition: transform 1.5s cubic-bezier(.13,1.01,.33,1.11);

    img {
        width: 35vw;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: scale(1) translate(-50%, -50%);
        transition: transform 1s cubic-bezier(.13,1.01,.33,1.11);
    }
    svg {
        position: absolute;
        top: 0;
        left: 0px;
        right: 0px;
        width: 100%;
        z-index: 105;
    }
    .filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $red;
        mix-blend-mode: darken;
        opacity: 0;
    }
    &.isFilter {
        .filter {
            opacity: 1;
        }
    }
}

.finderImageVietnam {
    position: absolute;
    opacity: 0;

}

.finderImageVietnam--1 {
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: 101;
}

.finderImageVietnam--2 {
    position: absolute;
    bottom: 100%;
    left: 100%;
    z-index: 102;
}


.finderImageVietnam--3 {
    position: absolute;
    top: 100%;
    left: 100%;
    z-index: 104;
}

.finderImageVietnam--4 {
    position: absolute;
    top: 100%;
    right: 100%;
    z-index: 103;
}