.menu {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    z-index: 1;
}

.menu__item {
    z-index: 200;
    position: relative;
    width: fit-content;
}