.sunshines {
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sunshines__sun {
    font-size: 20vh;
    height: 20vh;
    width: fit-content;
    text-align: center;
    img {
        height: 22vh;
        width: auto;
    }
}